/* Styling for the container of the form and photo */
.photo-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the container of the photo */
.photo-container {
  flex: 1;
  padding: 20px;
}

/* Styling for the photo */
.photo-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: 40px;
}

/* Styling for the container of the forget password form */
.forgetpage-container {
  flex: 1;
  padding: 20px;
  flex-wrap: wrap;
}

/* Styling for the heading */
.forgetpage-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styling for the form elements */
.forgetpage-container label {
  display: block;
  margin-bottom: 10px;
}

.forgetpage-container input[type="email"] {
  width: 85%;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.forgetpage-container button[type="submit"] {
  width: 89%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.forgetpage-container button[type="submit"]:hover {
  background-color: #0056b3;
}
